.not-found, .found {
  margin-top: 20px;
  padding: 5px;
  width: 95%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.not-found p, .found p {
  font-size: 1.2em;
}

.not-found .search-name, .found .search-name {
  margin: 4px;
  color: #FBB900;
  font-size: 1.5em;
}